@font-face { 
    font-family: Yanone Kaffeesatz; 
      src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
      src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
  } 
  
  html { 
    height: 100%;
  }
  
  * { 
    padding: 0;
    margin: 0;
  }
    
  article, aside, figure, footer, header, hgroup, nav, section { 
    display:block;
  }
  
  body { 
    font: normal .8em arial, sans-serif;
    background: #C4E9E8 url(../images/back.png) repeat-x;
    color: #555;
  }
  
  #container { 
    background: transparent url(../images/grass.png) repeat-x bottom;
  }
  
  #MainContainer {
    position: relative;
    background-color: white;
    width: 880px;
    height: 980px;
    margin: 0 auto;
    border-radius: 10px;
    top: -100px;
  }
  
  .ImageHeader {
    width: 820px;
    margin: 20px 50px 15px 30px;
  }
  
  
  
  ul, ol {
    list-style:none;
  }
  
  
  .nav {
    width:500px; /*Le establecemos un ancho*/
    margin:0 auto; /*Centramos automaticamente*/
  
  }
  
  
  .nav > li {
    float:left;
  }
  
  .nav li a {
    background-color: #53C7FD;
    color:#fff;
    text-decoration:none;
    padding: 11px 6px 11px 6px;
    display:block;
  }
  
  .nav li a:hover {
    color:#E5017D;
    font-size: larger;
    font-weight: bold;
  }
  
  .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }
  
  .nav li:hover > ul {
    display: block;
  }
  
  .nav li ul li {
    position:relative;
  }
  
  .nav li ul li ul {
    right:-140px;
    top:0px;
  }